

:root {
  --primary-color: #54E6AF;
  --secondary-color: #121725;

  // TINTS:
  --primary-light: #b3ffe2;
  --secondary-col-light: #2C344B;
  --secondary-col-light2: #5A668A;

  --gray-color: #C2CBE5;
  --gray-color2: #c2cce5;
  --white: #fff;

  --error-color: #fb3c3c;
  --success-color: #54E6AF;
}












